<p>nenglo works! Hi</p>


<!--<div fxLayout="row" fxLayoutAlign="space-between">-->
<!--</div>-->

<!--<div fxLayout='column' class="zero">-->

<!--<div fxFlex="33" [fxFlex.md]="box1Width" class="one"></div>-->
<!--<div fxFlex="33" [fxLayout]="direction" fxLayout.md="row" class="two">-->

<!--<div fxFlex="22" fxFlex.md="10px" fxHide.lg class="two_one"></div>-->
<!--<div fxFlex="205px" fxFlex.md="65" class="two_two"></div>-->
<!--<div fxFlex="30px" fxFlex.md="25" fxShow [fxHide.md]="hideBox" class="two_three"></div>-->
<!--<p>ABCDEFGHIJKLMNOPQRSTUV</p>-->


<!--</div>-->
<!--<div fxFlex class="three"></div>-->

<!--</div>-->
<div fxflexfill="" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
  <div fxflexfill="" fxlayoutgap="10px grid" style="cursor: pointer; height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-flow: row wrap; box-sizing: border-box; display: flex; margin: 0px -10px -10px 0px;">
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="one" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        A
      </div>
    </div>
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="two" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        B
      </div>
    </div>
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="three" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        C
      </div>
    </div>
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="four" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        D
      </div>
    </div>
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="five" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        E
      </div>
    </div>
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="six" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        F
      </div>
    </div>
    <div fxflex="25" style="padding: 0px 10px 10px 0px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
      <div class="seven" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        G
      </div>
    </div>
  </div>
</div>
