<header>
  <div class="container">
    <nav>
      <ul>
        <div fxflexfill="" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
          <div fxflexfill="" fxlayoutgap="10px grid" style="cursor: pointer; height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-flow: nowrap; box-sizing: border-box; display: flex; margin: 0px -10px -10px 0px;">


            <!--<div fxflex="25" style="padding: 0px 70px 10px 40px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">-->
            <div fxflex="25" style=" flex: 1 1 25%; box-sizing: border-box;">
              <div class="four" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                <a class="timelineMenuBar" mat-button routerLink="/nenglo/earlyDays">Early Years</a>
              </div>
            </div>


            <!--<div fxflex="25" style="padding: 0px 70px 10px 40px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">-->
            <div fxflex="25" style=" flex: 1 1 25%; box-sizing: border-box;">
              <div class="four" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                <a mat-button class="timelineMenuBar" routerLink="/nenglo/military">Military</a>
              </div>
            </div>


            <!--<div fxflex="25" style="padding: 0px 70px 10px 40px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">-->
            <div fxflex="25" style=" flex: 1 1 25%; box-sizing: border-box;">
              <div class="four" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                <a mat-button class="timelineMenuBar" routerLink="/nenglo/post-war">Post War</a>
              </div>
            </div>


          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>
