<!--<header>-->
<!--<div class="container">-->
<!--&lt;!&ndash;<a routerLink="/" class="logo">yearly-Nav-Brooo</a>&ndash;&gt;-->
<!--<nav>-->
<!--<ul>-->
<!--<li><a routerLink="/thirties">thirties</a></li>-->
<!--<li><a routerLink="/fourties">fourties</a></li>-->
<!--<li><a routerLink="/fifties">fifties</a></li>-->
<!--<li><a routerLink="/sixties">sixties</a></li>-->
<!--<li><a routerLink="/seventies">seventies</a></li>-->
<!--<li><a routerLink="/eighties">eighties</a></li>-->
<!--<li><a routerLink="/nineties">nineties</a></li>-->
<!--<li><a routerLink="/present-day">present-day</a></li>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--</header>-->


<header>
  <div class="container">
    <!--<a routerLink="/" class="logo">NengLo</a>-->
    <nav>
      <ul>

        <div fxflexfill="" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
          <div fxflexfill="" fxlayoutgap="10px grid" style="cursor: pointer; height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-flow: row wrap; box-sizing: border-box; display: flex; margin: 0px -10px -10px 0px;">

            <!--30's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/thirties">30's</a></li>
              </div>
            </div>

            <!--40's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/forties">40's</a></li>
              </div>
            </div>

            <!--50's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/fifties">50's</a></li>
              </div>
            </div>

            <!--60's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/sixties">60's</a></li>
              </div>
            </div>

            <!--70's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/seventies">70's</a></li>
              </div>
            </div>

            <!--80's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/eighties">80's</a></li>
              </div>
            </div>

            <!--90's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/nineties">90's</a></li>
              </div>
            </div>

            <!--00's-->
            <div fxflex="25" class="jeremy">
              <div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">
                <li><a routerLink="/nenglo/presentDay">00's</a></li>

              </div>
            </div>

          </div>

        </div>

      </ul>


    </nav>
  </div>
</header>
