<!--<header>-->
<!--<div class="container">-->
<!--<nav>-->
<!--<ul>-->
<!--<div fxflexfill="" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">-->
<!--<div fxflexfill="" fxlayoutgap="10px grid" style="cursor: pointer; height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-flow: nowrap; box-sizing: border-box; display: flex; margin: 0px -10px -10px 0px;">-->

<!--&lt;v!&ndash;30's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/thirties">30's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;40's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/forties">40's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;50's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/fifties">50's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;60's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/sixties">60's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;70's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/seventies">70's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;80's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/eighties">80's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;90's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/nineties">90's</a></li>-->
<!--</div>-->
<!--</div>-->

<!--&lt;!&ndash;00's&ndash;&gt;-->
<!--<div fxflex="25" class="jeremy">-->
<!--<div class="yer" fxflexfill="" fxlayoutalign="center center" style="place-content: center;">-->
<!--<li><a routerLink="/nenglo/presentDay">00's</a></li>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</ul>-->
<!--</nav>-->
<!--</div>-->
<!--</header>-->


<mat-horizontal-stepper>
  <!--<mat-step label="30's">-->
    <!--<app-thirties></app-thirties>-->
  <!--</mat-step>-->
  <!--<mat-step label="40's">-->
    <!--<app-forties></app-forties>-->
  <!--</mat-step>-->
  <!--<mat-step label="50's">-->
    <!--<app-fifties></app-fifties>-->
  <!--</mat-step>-->
  <!--<mat-step label="60's">-->
   <!--<app-sixties></app-sixties>-->
  <!--</mat-step>-->
  <!--<mat-step label="70's">-->
    <!--<app-seventies></app-seventies>-->
  <!--</mat-step>-->
  <!--<mat-step label="80's">-->
    <!--<app-eighties></app-eighties>-->
  <!--</mat-step>-->
  <!--<mat-step label="90's">-->
    <!--<app-nineties></app-nineties>-->
  <!--</mat-step>-->
  <!--<mat-step label="00's">-->
  <!--<app-present-day></app-present-day>-->
  <!--</mat-step>-->
  <mat-step label="Early Days">
  <app-present-day></app-present-day>
  </mat-step>
  <mat-step label="Military">
    <app-present-day></app-present-day>
  </mat-step>
  <mat-step label="Viatnam War">
    <app-present-day></app-present-day>
  </mat-step>
  <mat-step label="Coming to the United States">
    <app-present-day></app-present-day>
  </mat-step>
  <mat-step label="Present Day">
    <app-present-day></app-present-day>
  </mat-step>
</mat-horizontal-stepper>


<!--<mat-horizontal-stepper>-->
<!--<mat-step label="Step 1" state="phone">-->
<!--<p>Put down your phones.</p>-->
<!--<div>-->
<!--<button mat-button matStepperNext>Next</button>-->
<!--</div>-->
<!--</mat-step>-->
<!--<mat-step label="Step 2" state="chat">-->
<!--<p>Socialize with each other.</p>-->
<!--<div>-->
<!--<button mat-button matStepperPrevious>Back</button>-->
<!--<button mat-button matStepperNext>Next</button>-->
<!--</div>-->
<!--</mat-step>-->
<!--<mat-step label="Step 3">-->
<!--<p>You're welcome.</p>-->
<!--</mat-step>-->


<!--&lt;!&ndash; Icon overrides. &ndash;&gt;-->
<!--<ng-template matStepperIcon="phone">-->
<!--<mat-icon>call_end</mat-icon>-->
<!--</ng-template>-->
<!--<ng-template matStepperIcon="chat">-->
<!--<mat-icon>forum</mat-icon>-->
<!--</ng-template>-->
<!--</mat-horizontal-stepper>-->
