<!--THIS IS THE MAIN NAVIGATION BAR-->


<header>
  <div class="container">
    <div fxflex="25" style="padding: 0px 10px 10px 40px; flex: 1 1 25%; max-width: 25%;">
      <div class="three" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
        <a mat-button class="mainMenuBar" routerLink="/">NengLo</a>
      </div>
    </div>
    <nav>
      <ul>
        <div fxflexfill="" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%;">
          <div fxflexfill="" fxlayoutgap="10px grid" style=" height: 100%; min-height: 100%; min-width: 100%; width: 100%; flex-flow: row wrap; box-sizing: border-box; display: flex; margin: 0px -10px -10px 0px;">

            <!--<div fxflex="25" style="padding: 0px 10px 10px 40px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">-->
            <!--<div class="two" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">-->
            <!--</div>-->
            <!--</div>-->

            <div fxflex="25" style="padding: 0px 10px 10px 40px; flex: 1 1 25%; max-width: 25%;">
              <div class="three" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                <a mat-button class="mainMenuBar" routerLink="/gallery">Gallery</a>
              </div>
            </div>

            <div fxflex="25" style="padding: 0px 10px 10px 40px; flex: 1 1 25%; box-sizing: border-box; max-width: 25%;">
              <div class="four" fxflexfill="" fxlayoutalign="center center" style="height: 100%; min-height: 100%; min-width: 100%; width: 100%; place-content: center; align-items: center; flex-direction: row; box-sizing: border-box; display: flex;">
                <a mat-button class="mainMenuBar" routerLink="/about">About Us</a>
              </div>
            </div>

          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>
