<mat-card class="militaryCard">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <!--<mat-card-title>About Us</mat-card-title>-->
    <!--<mat-card-subtitle>A story from us to you</mat-card-subtitle>-->
  </mat-card-header>
  <!--<img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">-->
  <mat-card-content>

    <p>
      This web page is dedicated to our grandfather Nenglo Yang. We want to capture moments of his life and share it with you.
    </p>
    <p>
      Love,


    </p>
    <p>
      The Nenglo Family
      <!--<b>-->
        <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
        <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
        <!--bred for huntinghe Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
        <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
        <!--bred for hunting.-->
        <!--The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
        <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
        <!--bred for huntinghe Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.-->
        <!--A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally-->
        <!--bred for hunting. Hi Missy Bye Yer-->
      <!--</b>-->
    </p>
  </mat-card-content>
</mat-card>
