////#vl1{
////
////  border-left: 6px solid green;
////  height: 500px;
////}
////
////#vl2{
////
////}
//
//
//
//#mainSection{
//  border: 20px solid #ccc;
//  background: lightBlue;
//  margin: auto;
//
//
//}

#vl1 {
  border-left: 100px solid green;

  //height: 1000px;
  position: relative;
}

#vl2 {

}

#mainSection{
    width:100%;
    //margin: 0 auto;
    //padding: 2em;

}

