header {
  //background: #7700FF;
  background: black;

  .logo {
    font-weight: bold;
    width: 0px;
    height: 0px;
  }

  nav {
    //justify-self: right;

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;

      li {
        float: left;

        a {
          padding: 1.5em;
          text-transform: uppercase;
          font-size: .8em;

          &:hover {
            background: #8E2BFF;
            //background: none;

          }
        }
      }
    }
  }
}

.jeremy {
  padding: 0px 10px 10px 0px;
  flex: 1 1 25%;
  box-sizing: border-box;
  max-width: 25%;

}

.yer {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  align-items: center;
  flex-direction: row;
  box-sizing: border-box;
  display: flex;

}

.timelineMenuBar {
  color: white

}

header{
  .container{
    //padding:  1% 23.400px 1% 23.400px;
    padding:  10px 23.400px 10px 23.400px;


  }
}
